@page "/contact"
<PageTitle>Contact</PageTitle>

<h1>Contact</h1>
<p class="lead">Feel free to reach out via the form below.</p>

<form id="contact-form"
      action="https://api.web3forms.com/submit"
      method="POST">

    <input type="hidden" name="access_key"
           value="cad911ea-a8ea-40bd-9925-5016bfeab7d7" />

    <div class="mb-3">
        <label for="first_name" class="form-label">Name</label>
        <input type="text" name="first_name" id="first_name"
               class="form-control" required />
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" name="email" id="email"
               class="form-control" required />
    </div>

    <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea name="message" id="message"
                  rows="5" class="form-control" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Send Message</button>
</form>
